<div>
    <h1>Multiplica 2 números</h1>
    <form [formGroup]="formulario" (ngSubmit)="multNumeros()">
        <div>
            <label for="numero1">Primer número</label>
            <input formControlName="numero1" type="number">
        </div>
        <div>
            <label for="numero2">Segundo número</label>
            <input formControlName="numero2" type="number">
        </div>
        <button type="submit" [disabled]="formulario.invalid">Multiplicar</button>
        <p *ngIf="resultado !== undefined">El resultado es {{resultado}}</p>
    </form>
</div>
